* {
    margin: 0;
    padding: 0
}

body {
    background-color: #F5F5F5;
}

hr {
    border: none;
    height: 1px;
    background-color: #C0C0C0;
}

/*Container*/
#container {
    padding: 0 50px;
}

/*Navigation*/
#nav {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#nav #logo {
    height: 100px
}

#nav ul {
    list-style: none;
    display: flex;
}

#nav li {
    margin: 0 40px;
}

#nav li:first-child {
    margin: 0 40px 0 0;
}

#nav li:first-child a {
    color: #000
}

#nav li:last-child {
    margin: 0 0 0 40px;
}

#nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fe9b00;
    font-weight: bold;
}

#nav #email {
    position: absolute;
    color: #5D5D5D;
    right: 50px;
    top: 5px;
}

/*Header image*/
#header-image {
    height: 450px;
    margin: 10px 0px;
    background: linear-gradient(to right, #fe9b00, #e35300);
    display: flex;
}

#header-image > div {
    width: 50%;
    padding: 40px;
    overflow: hidden;
    position: relative;
}

/*left*/
#header-image #left > p {
    color: #FFF;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 10px;
    line-height: 90px;
}

#header-image #left #view-portfolio {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 30px 0;
    background-color: #090909;
    text-transform: uppercase;
    font-weight: bold;
}

#view-portfolio > p {
    color: #999;
}

#view-portfolio > a {
    color: #fe9b00;
    text-decoration: none;
}

/*right*/
#header-image #right #image1 {
    width: 400px;
    margin-top: 30px;
    box-shadow: -10px 15px 15px #000
}

#header-image #right #image2 {
    width: 500px;
    position: absolute;
    left: 200px;
    top: 20px;
    box-shadow: -10px 50px 15px #000
}

/*body content*/
#body-content {
    height: 290px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

#body-content > div {
    width: 370px;
}

#body-content #title {
    text-transform: uppercase;
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 5px solid #000;
}

#body-content p {
    font-size: 17px;
    color: #5D5D5D;
}

#body-content #read {
    margin-top: 10px;
}

#body-content #read a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fe9b00;
    font-weight: bold;
}

#testimonials a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#our-benefits div {
    display: flex;
    align-items: flex-start;
}

#our-benefits span {
    background-color: #CCC;
    padding: 0 4px;
    margin-right: 20px;
}

/*portfilio*/
#portfilio {
    height: 280px;
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#portfilio #title {
    text-transform: uppercase;
    position: absolute;
    top: 0;
}

#portfilio img {
    height: 200px;
    width: 290px
}

#blog-update {
    height: 130px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

#blog-update #title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#blog-update p {
    width: 790px;
    margin-right: 170px;
}

#blog-update #conect-with-us {
    width: 500px;
}

#conect-with-us a {
    margin: 0 10px;
}

/*Footer*/
#footer {
    height: 70px;
    padding: 0px 50px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-menu ul {
    list-style: none;
    display: flex;
}

#footer-menu li {
    padding: 0px 10px;
    margin: 5px 0;
    border-right: solid 1px #5D5D5D;
}

#footer-menu li:first-child {
    padding: 0 10px 0 0;
}

#footer-menu li:last-child {
    border-right: none;
}

#footer-menu a {
    text-decoration: none;
    color: #5D5D5D;
    font-size: 14px;
}

#footer-menu p {
    text-decoration: none;
    color: #5D5D5D;
    font-size: 14px;
}

#footer img {
    height: 60px;
}