* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
    font-family: 'Arial';
}

#header #top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
/*    background: linear-gradient(170deg , red, blue)*/
    background: linear-gradient(170deg , #2e2e2e, #4c4c4c)
}

#header #top ul {
    list-style: none;
    display: flex;
}

#header #top li {
    padding: 0 20px;
    border-right: 1px solid #EEE;
}

#header #top li:last-child {
    border-right: none;
}

#header a {
    text-decoration: none;
    color: #EEE;
    text-transform: uppercase;
}

#header img {
    width: 100%;
    box-shadow: 0 5px 3px;
}

#header #city-portal {
    text-transform: uppercase;
    color: #FFF;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    right: 20px;
}

#header #menu {
    background: linear-gradient(#242424, #242424, #2e2e2e, #5e5e5e);
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#header #menu li {
    height: 60px;
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #1c1c1c;
    border-left: 2px solid #3a3a3a;
}

#header #menu li:first-child {
    border-left: none;
}

#header #menu li:last-child {
    border-right: none;
}

#content {
/*    height: 300px;*/
    display: flex;
    
}

#content #left {
    width: 25%;
    background-color: #bfbfbf;
}

#content #left #title {
    background: linear-gradient(#4a4a4a, #5e5e5e);
    color: #EEE;
    text-transform: uppercase;
    padding: 15px 50px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #555;
}

#content #left #select-city {
    padding: 20px 50px;
    background-color: #858585;
}

#content #left #select-city select {
    height: 25px;
    width: 100%;
}

#content #left #popular-link {
    margin-top: 20px;
    color: #EEE;
    padding: 15px 50px;
    text-transform: uppercase;
    background-color: #636363;
}

#content #left #link {
    list-style: none;
    margin: 30px;
}

#content #left #link li {
    text-indent: 50px;
    margin: 5px 0px;
    border-bottom: 2px dotted #555;
}

#content #left #link li:last-child {
    border-bottom: none;
}

#content #left #link a {
    text-decoration: none;
    color: #000
}

#content #right {
    width: 75%;
    background-color: #EEE;
    padding: 0 25px;
    position: relative;
}

#content #right #top {
    display: flex;
    align-items: center;
    height: 70px;
}

#content #right #top #date {
    width: 33%;
    text-align: center;
    text-transform: uppercase;
}

#content #right #top #search {
    height: 100%;
    width: 61%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    background-color: #999;
    box-shadow: inset 0 5px 5px #444
}

#content #right #top #search input[type="text"] {
    margin: 0 10px;
    width: 75%;
    height: 50%;
    background-color: #555;
    border: none;
    padding: 0 10px;
}

#content #right #top #search input[type="text"]::placeholder {
    color: #FFF;
    opacity: 0.7
}

#content #right #top #search input[type="button"] {
    height: 50%;
    width: 20%;
    color: #FFF;
    background: linear-gradient(#CCC, #AAA, #555, #444, #333);
    border: none;
    text-transform: uppercase;
}

#content #right #image {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#content #right #image img {
    width: 30%;
    height: 150px;
    padding: 10px;
    border: 1px solid #DDD;
    box-shadow: 3px 3px 3px #AAA;
}

#content #right #bottom {
/*    height: 340px;*/
    display: flex;
}

#content #right #bottom #news {
    width: 70%;
}

#content #right #bottom #news #title {
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
}

#content #right #bottom #news #news-item {
    width: 97%;
    display: flex;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AAA;
}

#content #right #bottom #news #news-item:last-child {
    margin-bottom: 50px;
}

#content #right #bottom #news #news-item img {
    width: 130px;
    border: 1.5px solid #AAA;
}

#content #right #bottom #news #news-item #detail {
    margin-left: 20px;
    margin-top: 20px;
}

#content #right #bottom #weather {
    width: 30%;
    background-color: #BBB;
}

#content #right #bottom #weather #weather-item {
    width: 93%;
    padding: 5px 10px;
    height: 150px;
}

#content #right #bottom #weather #weather-item:first-child {
    padding: 15px;
    height: auto;
}

#content #right #bottom #weather #weather-item:first-child #title {
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
}

#content #right #bottom #weather #weather-item:first-child #detail {
    margin: 10px 0;
    display: flex;
}

#content #right #bottom #weather #weather-item:first-child #detail #image {
    width: 130px;
    height: 120px;
    margin: 0;
    background-image: url('../images/weather.jpg');
    background-size: cover;
    box-shadow: inset 3px 5px 5px #666;
}

#content #right #bottom #weather #weather-item:first-child #detail #overcast {
    padding: 10px;
}

#content #right #bottom #weather #weather-item:first-child #detail #overcast #hi {
    color: #D00;
}

#content #right #bottom #weather #weather-item:first-child #detail #overcast #lo {
    color: #0390fc;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #242424;
    color: #5e5e5e;
    height: 90px;
}

#footer #menu {
    list-style: none;
    display: flex;
}

#footer #menu li {
    padding: 0 10px;
    border-right: 1px solid #5e5e5e;
}

#footer #menu li:last-child {
    border-right: none;
}

#footer a {
    color: #5e5e5e;
    text-decoration: none;
}










