* {
    margin: 0;
    padding: 0;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Karma", sans-serif
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar .logo {
    font-weight: bold;
}

.navbar .logo:hover {
    color: #ddd;
    background: #333;
}

.content {
    margin-top: 50px;
}

.table {
    display: table;
    border-spacing: 3em;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    width: 50%;
    box-shadow: 0px 0px 10px #DDD;
    border-radius: 4px;
    overflow: hidden;
}

.food_image {
    width: 100%;
}

.food_title {
    margin: 20px;
    font-size: 30px;
}

.food_title a {
    text-decoration: none;
    color: #000;
}

.food_title a:hover {
    text-decoration: underline;
}

.food_des {
    margin: 0 20px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
}

.button_get_recipe {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.button_get_recipe a {
    padding: 15px 30px;
    background-color: #ef3b24;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #DDD;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 1px;
}

.button_get_recipe a:hover {
    background-color: #d93521;
    color: #EEE;
}

/*detail page*/

.detail_container {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
}

.detail_title {
    margin: 20px 0;
    font-size: 40px;
}

.detail_food_image {
    width: 100%;
    object-fit: cover;
}

.poit_title {
    margin: 20px 0;
}

.detail_table {
    display: table;
    border-spacing: 1em;
    width: 100%;
}

.detail_table_row {
    display: table-row;
}

.detail_table_cell {
    display: table-cell;
    width: 50%;
}

.detail_table_cell p {
    font-size: 22px;
}

.detail_table_cell hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 5px 0;
}

.direction_list {
    list-style: decimal;
    margin: 0 25px;
}

.direction_item {
    font-size: 21px;
    text-align: justify;
}

.nutrition_facts, .time {
    margin: 20px;
}

.nutrition_facts p, .time p{
    margin: 20px;
    font-size: 21px;
    text-align: justify;
}

.more {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    height: 50px;
}

.next {
    position: absolute;
    right: 2%;
}

.previous {
    position: absolute;
    left: 2%;
}

.detailt_previous {
    position: absolute;
    left: 15%;
}

.detail_next {
    position: absolute;
    right: 15%;
}

.more p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    position: absolute;
    right: 50%;
}

.btn_more {
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #ef3b24;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
}

.btn_more:hover {
    background-color: #d93521;
    color: #EEE;
    text-decoration: underline
}

.footer {
    background-color: #333;
    bottom: 0;
    display: flex;
    justify-content:space-around;
}

.footer p{
    padding: 10px;
    color: #FFF;
}

.title {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
}

.chef_img {
    display: flex;
    justify-content: center;
}

.sub_title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description i {
    margin-bottom: 10px;
    font-size: 20px;
}

.description p {
    padding: 0 150px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

























